<!--<div class="sidenav">
  <button id="dropdown1" class="dropdown-button" ng-click="dropdownFunc()">Overview</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <button id="dropdown2" ng-click="dropdownFunc()">Design</button>
  <button id="dropdown3" ng-click="dropdownFunc()">Components</button>
  <button id="dropdown4" ng-click="dropdownFunc()">Utility</button>
  <button id="dropdown5" ng-click="dropdownFunc()">Core Values & Brand</button>
  <button id="dropdown6" ng-click="dropdownFunc()">Partners</button>
  <button id="dropdown7" ng-click="dropdownFunc()">Approved Language</button>
</div>


<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>-->



<div class="w3-sidebar w3-bar-block w3-light-grey w3-card-2" style="width:160px;">

  <button class="w3-button w3-block w3-left-align" onclick="myAccFunc()">
  Accordion <i class="fa fa-caret-down"></i>
  </button>
  <div id="demoAcc" class="w3-hide w3-white w3-card-2">
    <a href="#" class="w3-bar-item w3-button">Link</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
  </div>

</div>