<div class="sidenav">

  <div class="va-logo">
    <img src="assets/images/va-logo.svg">
  </div>

  <button id="dropdown1" class="accordian" ng-click="dropdownFunc()">Overview <div class="menu-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></div></button>
  <div id="demoAcc" class="panel">
    <a ui-sref="intro">Introduction</a>
    <a ui-sref="codeGuide">Code Guildines</a>
  </div>

  <button class="accordian" ng-click="dropdownFunc()">Design <div class="menu-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></div></button>
  <div class="panel-hide">
    <a ui-sref="colorScheme">Color Scheme</a>
    <a ui-sref="typography">Typography</a>
    <a ui-sref="animation">Animation</a>
    <a ui-sref="borderRadius">Border Radius</a>
    <a ui-sref="boxShadow">Box Shadow</a>
    <a ui-sref="layout">Layout</a>
    <a ui-sref="icons">Icons</a>
  </div>

  <button class="accordian" ng-click="dropdownFunc()">Components <div class="menu-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></div></button>
  <div class="panel-hide">
    <a ui-sref="buttons">Buttons</a>
    <a ui-sref="forms">Form Elements</a>
    <a ui-sref="grid">Grid</a>
    <a ui-sref="links">Links</a>
    <a ui-sref="lists">Lists</a>
    <a ui-sref="modals">Modals</a>
    <a ui-sref="popovers">Popovers</a>
  </div>

  <button class="accordian" ng-click="dropdownFunc()">Utility <div class="menu-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></div></button>
  <div class="panel-hide">
    <a ui-sref="aspectRatio">Aspect Ratio</a>
    <a ui-sref="centerElements">Center Elements</a>
    <a ui-sref="hideElements">Hide Elements</a>
    <a ui-sref="designLayout">Layout</a>
    <a ui-sref="textManipulation">Text Manipulation</a>
  </div>

  <button class="accordian" ng-click="dropdownFunc()">Core Values & Brand <div class="menu-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></div></button>
  <div class="panel-hide">
    <a ui-sref="ourMission">Our Mission</a>
    <a ui-sref="brandmarks">Brandmarks</a>
    <a ui-sref="imageGuidelines">Image Guidelines</a>
  </div>

  <button class="accordian" ng-click="dropdownFunc()">Partners <div class="menu-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></div></button>
  <div class="panel-hide">
    <a ui-sref="partnerLogos">Partners Logos</a>
    <a ui-sref="partnerLanguage">Partner Language</a>
    <a ui-sref="partnerPresentationTools">Partner Presentation Tools</a>
  </div>

  <button class="accordian" ng-click="dropdownFunc()">Approved Language <div class="menu-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></div></button>
  <div class="panel-hide">
    <a ui-sref="tone">Veterans Advantage Tone of Voice</a>
    <a ui-sref="militaryDictionary">Military Dictionary</a>
    <a ui-sref="testimonials">Testimonials</a>
  </div>

</div>

